@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

$primary: #78C2AD;
$primary-dark: darken(#78C2AD, 10);
$secondary: #F3969A;
$grey: #999;

* {
	outline-color: $primary !important;
}

html,
body {
	margin: 0;
	height: 100%;
	background: $primary;
}


body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
	background: $secondary;
}

input,
textarea,
label {
	border: 0 !important;
}

input {
	&[type=file] {
		cursor: pointer;
	}
}

.custom-file-label {
	&::after {
		height: 100%;
		content: 'Procurar' !important;
	}
}

.guest-page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	form {
		width: 100%;
		max-width: 520px;
		.brand-title {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 0 22px;
			img {
				width: 80px;
			}
		}
		button {
			margin: 0 0 20px;
		}
	}
}

.guest-link {
	display: block;
	margin: 4px 0 -20px;
	font-size: 0.75rem;
	font-weight: 800;
	color: $secondary;
	transition: all .2s !important;
	text-decoration: none;
	&:hover {
		color: $primary !important;
	}
}

.b-avatar-img {
	img {
		object-fit: cover;
	}
}
