$primary: #78C2AD;
$primary-dark: darken(#78C2AD, 10);
$secondary: #F3969A;
$grey: #999;

* {
	outline-color: $primary !important;
}

html,
body {
	margin: 0;
	height: 100%;
	background: $primary;
}

[id|="page-"] {
	height: 100%;
	min-height: 100vh;
}

.guest-link {
	display: block;
	margin: 20px 0 -20px;
	font-size: 0.75rem;
	font-weight: 800;
	color: $secondary;
}
